@model The_Academy_Leave_System.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New User</h1>

@*<h4>User</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="TeamId" class="control-label"></label>
            <input asp-for="TeamId" class="form-control" />
            <span asp-validation-for="TeamId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RoleId" class="control-label"></label>
            <input asp-for="RoleId" class="form-control" />
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="ThisUser.FirstName" class="control-label"></label>
                <input asp-for="ThisUser.FirstName" class="form-control" />
                <span asp-validation-for="ThisUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUser.LastName" class="control-label"></label>
                <input asp-for="ThisUser.LastName" class="form-control" />
                <span asp-validation-for="ThisUser.LastName" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="ThisUser.IsActive" /> @Html.DisplayNameFor(model => model.ThisUser.IsActive)
            </label>
        </div>*@

            <div class="form-group">
                <label asp-for="ThisUser.TeamId"></label>
                <select asp-for="ThisUser.TeamId" class="form-control" asp-items="Model.TeamOptions">
                    <option value="-1" selected disabled>-- Select a Team --</option>
                </select>
                <span asp-validation-for="ThisUser.TeamId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ThisUser.RoleId"></label>
                <select asp-for="ThisUser.RoleId" class="form-control" asp-items="Model.RoleOptions">
                    <option value="-1" selected disabled>-- Select a Role --</option>
                </select>
                <span asp-validation-for="ThisUser.RoleId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="ThisUser.LeaveAllowanceThisYear" class="control-label"></label>
                <input asp-for="ThisUser.LeaveAllowanceThisYear" class="form-control" />
                <span asp-validation-for="ThisUser.LeaveAllowanceThisYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUser.LeaveAllowanceNextYear" class="control-label"></label>
                <input asp-for="ThisUser.LeaveAllowanceNextYear" class="form-control" />
                <span asp-validation-for="ThisUser.LeaveAllowanceNextYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUser.Email" class="control-label"></label>
                <input asp-for="ThisUser.Email" class="form-control" />
                <span asp-validation-for="ThisUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThisUser.Password" class="control-label"></label>
                <input asp-for="ThisUser.Password" class="form-control" />
                <span asp-validation-for="ThisUser.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ThisUser.ConfirmPassword" class="control-label"></label>
                <input asp-for="ThisUser.ConfirmPassword" class="form-control" />
                <span asp-validation-for="ThisUser.ConfirmPassword" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="LastLoggedInDateTime" class="control-label"></label>
            <input asp-for="LastLoggedInDateTime" class="form-control" />
            <span asp-validation-for="LastLoggedInDateTime" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
