@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h4>No problem!</h4>
<hr />


<div>
    <p>
        Please get in contact with the system administrators by using the email below.
    </p>
    <a href="mailto:talsadmins@theacademy.com">talsadmins@theacademy.com</a>
</div>

